.vscode/
Private Stuff/
token.txt
log.txt
botLog.txt
**/image.png
C++ Testing/
External Libraries/
HTML JS Template/
HTML JS Testing/
JS Testing/
WebGL Testing/
node_modules/
/HTML JS Stuff/HTML Eqation Solver/equation.json
.parcel-cache/