:root {
    --debug: 0;
    --bg-colour: #555555;
    --text-colour: #ffffff;
    --border-colour: #ffffff;
    --sticky-top: 10px;
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-family: Calibri, DFKai-sb, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14pt;
}

div {
    outline: calc(1px * var(--debug)) solid red;
    margin-top: var(--sticky-top);
}

table {
    outline: calc(1px * var(--debug)) solid blue;
}

table,
table * {
    border-collapse: separate;
    border-spacing: 0;
}

table * {
    padding: 5px 10px;
}

td {
    border: 1px solid var(--border-colour);
}

th {
    position: sticky;
    top: var(--sticky-top);
    border: 1px solid var(--border-colour);
    background-color: var(--bg-colour);
    box-shadow: 0 calc(-1 * var(--sticky-top)) 0 var(--bg-colour);
}